<nav class="navbar navbar-dark bg-primary navbar-fixed-top navbar-full">
	<div class="navbar-header" style='width: 100%; margin-top: 3px'>
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header-full">

			<table class="table-full" style="width: 100%;">
				<tr>
					<td align="left"><a id="prt-tef-logo" class="navbar-link">
							<img src="images/TEFlogo.jpg" alt="TEFlogo" width="150"
							height="60" />
					</a></td>
					<td>
						<h3 align="center">O2 Companion - SG2 Learning</h3>
					</td>

					<td>
						<table class="table-full pull-right" style="width: 100%;">
							<tr>


								<td>&nbsp;&nbsp;&nbsp;</td>
							</tr>
							<tr>
								
									<a href="http://www.google.co.in" title="Dashboard"> <span
										class="glyphicon glyphicon-home" style= "color:white"></span>
										Home
									</a>
								
							</tr>
							<a style="color: white;" href="http://www.google.co.in"
								ng-click="logout()" title="Logout"> <span
								class="glyphicon glyphicon-off" aria-hidden="true"></span>
							</a>

						</table>
					</td>
				</tr>
			</table>


		</div>
	</div>
</nav>
