<!-- <!-- about.html -->

<div class="container">
	<div class="col-sm-2">
		<nav class="nav-sidebar">
			<ul class="nav tabs">
				<li class="active"><a href="#tab1" data-toggle="tab">O2
						Companion</a></li>
				<li class=""><a href="#tab2" data-toggle="tab">Shops</a></li>
				<li class=""><a href="#tab3" data-toggle="tab">Carex</a></li>
				<li class=""><a href="#tab4" data-toggle="tab">Billing
						Adapter</a></li>
				<li class=""><a href="#tab5" data-toggle="tab">EBPP</a></li>
				<li class=""><a href="#tab6" data-toggle="tab">EAI Adapter</a></li>
			</ul>
		</nav>

	</div>
	<!-- tab content -->
	<div class="tab-content">

		<div class="tab-pane active text-style" id="tab1">
			<div class="col-md-9" align="center">
				<h1 style="font-family: Georgia, serif; color: blue;">Telefonica
					UK - O2 Companion</h1>
				<p>
					<img src="images/telefonica.jpg" alt="Tel" width="800" height="200" />
				</p>

				<p align="justify" style="font-size: 16px;">Telefonica UK
					Limited (trading as O2) is a telecommunications services provider
					in the United Kingdom owned by the Spanish multinational
					Telefonica. It is the second-largest mobile telecommunications
					provider in the United Kingdom and is headquartered in Slough, UK.
					Motto of O2 UK is More For You (Formally "Be More Dog"). Telefonica
					O2 UK Ltd. operates as a cellular communications network operator.
					The Company provides mobile and broadband services, as well as
					offers non-voice services, including text, media messaging, games,
					music and video, and data connections.</p>
			</div>

			<p align="center" style="font-size: 16px;">
			<a href="#uploaddoc">Upload Documents</a>
			<button type="button" style="font-family: Georgia, serif; color: blue;">Go to Learning Documents</button>

			</p>
		</div>

		<div class="tab-pane text-style" id="tab2">
			<div class="col-md-9" align="center">
				<h1 style="font-family: Georgia, serif; color: blue;">Shops</h1>
				<p>
					<img src="images/shops.jpg" alt="Tel" width="800" height="200" />
				</p>

				<p align="justify" style="font-size: 16px;">Shops</p>
				<p style="font-size: 16px;">
					<button type="button" style="font-family: Georgia, serif; color: blue;">Go to Learning Documents</button>
				</p>

			</div>
		</div>

		<div class="tab-pane text-style" id="tab3">
			<div class="col-md-9" align="center">
				<h1 style="font-family: Georgia, serif; color: blue;">Carex</h1>
				<p>
					<img src="images/telefonica.jpg" alt="Tel" width="800" height="200" />
				</p>
				<p align="justify" style="font-size: 16px;">Carex</p>
				<p style="font-size: 16px;">
					<button type="button" style="font-family: Georgia, serif; color: blue;">Go to Learning Documents</button>
				</p>

			</div>

		</div>

		<div class="tab-pane text-style" id="tab4">
			<div class="col-md-9" align="center">
				<h1 style="font-family: Georgia, serif; color: blue;">Billing
					Adapter</h1>
				<p>
					<img src="images/telefonica.jpg" alt="Tel" width="800" height="200" />
				</p>
				<p align="justify" style="font-size: 16px;">Billing Adapter is
					an interface between RBM and MQ HUB (EAI). The adapters main
					function is to receive a request message from the EAI and perform
					some action(Data retrieval and updation) on RBM and then sending a
					response message to EAI</p>
				<p style="font-size: 16px;">
					<button type="button" style="font-family: Georgia, serif; color: blue;">Go to Learning Documents</button>
				</p>

			</div>
		</div>

		<div class="tab-pane text-style" id="tab5">
			<div class="col-md-9" align="center">
				<h1 style="font-family: Georgia, serif; color: blue;">EBPP</h1>
				<p>
					<img src="images/telefonica.jpg" alt="Tel" width="800" height="200" />
				</p>

				<p align="justify" style="font-size: 16px;">EBPP</p>
				<p style="font-size: 16px;">
					<button type="button" style="font-family: Georgia, serif; color: blue;">Go to Learning Documents</button>
				</p>


			</div>

		</div>

		<div class="tab-pane text-style" id="tab6">
			<div class="col-md-9" align="center">
				<h1 style="font-family: Georgia, serif; color: blue;">EAI
					Adapter</h1>
				<p>
					<img src="images/telefonica.jpg" alt="Tel" width="800" height="200" />
				</p>

				<p align="justify" style="font-size: 16px;">EAI Adapter</p>
				<p style="font-size: 16px;">
					<button type="button" style="font-family: Georgia, serif; color: blue;">Go to Learning Documents</button>
				</p>

			</div>
		</div>

	</div>
</div>

